@model Hotel_Management_System.Models.Reservation_Note

@{
    ViewBag.Title = "addReservation_Note";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul><!-- /.breadcrumb -->

    </div>
    <div class="page-header">
        <h1>
            Reservation Note
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Add Reservation Notes
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("addReservation_Note", "Reservation", FormMethod.Post))
            {
            @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Reservation_Note</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Reservation_Note_Des, htmlAttributes: new { @class = "col-sm-3 control-label  no-padding-right" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Reservation_Note_Des, new { htmlAttributes = new { @class = "col-xs-10 col-sm-5", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Reservation_Note_Des, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Reservation_Id, "Reservation_Id", htmlAttributes: new { @class = "col-sm-3 control-label  no-padding-right" })
                            <div class="col-md-10">
                                @Html.DropDownList("Reservation_Id", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5", required = "required" })
                                @Html.ValidationMessageFor(model => model.Reservation_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "listOfReservation_Note")
                </div>
            </div>
        </div>
    </div>
    </div>
