@model IEnumerable<Hotel_Management_System.Models.Room_Category>

@{
    ViewBag.Title = "listOfRoom_Category";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
<div class="page-content">
    <h2>list Of Room Categories</h2>

    <p>
        @Html.ActionLink("Create New", "addRoom_Category")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Rent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Rent)
            </td>
            <td>
                @Html.ActionLink("Edit", "editRoom_Category", new { id = item.Category_id }) |
                @Html.ActionLink("Details", "detailOfRoom_Category", new { id = item.Category_id }) |
                @Html.ActionLink("Delete", "removeRoom_Category", new { id = item.Category_id })
            </td>
        </tr>
        }

    </table>
</div>